body {
  overflow-x: hidden;
  font-family: 'Roboto Slab','Helvetica Neue',Helvetica,Arial,sans-serif;
  -webkit-tap-highlight-color: #fed136; }

a {
  color: #fed136; }
  a:active, a.active, a:focus, a:hover {
    color: #fec503; }

p {
  line-height: 1.75; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: 'Montserrat','Helvetica Neue',Helvetica,Arial,sans-serif;
  text-transform: uppercase; }

section {
  padding: 100px 0; }
  section .section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px; }
  section .section-subheading {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none;
    font-family: 'Droid Serif','Helvetica Neue',Helvetica,Arial,sans-serif; }

@media (min-width: 768px) {
  section {
    padding: 130px 0; } }
::-moz-selection {
  background: #fed136;
  text-shadow: none; }

::selection {
  background: #fed136;
  text-shadow: none; }

img::-moz-selection {
  background: 0 0; }

img::selection {
  background: none; }

.text-primary {
  color: #fed136 !important; }

.text-danger {
  color: #fed136 !important; }

.btn-primary {
  font-weight: 700;
  color: #fff;
  border-color: #fed136;
  background-color: #fed136;
  font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
  text-transform: uppercase; }
  .btn-primary:hover {
    color: #fff;
    border-color: #f6bf01;
    background-color: #fec503; }

#mainNav {
  background-color: #222; }
  #mainNav .navbar-brand {
    color: #fed136;
    font-family: 'Kaushan Script','Helvetica Neue',Helvetica,Arial, 'cursive'; }
    #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
      color: #fec503; }
  #mainNav .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: #fff;
    border: 0;
    background-color: #fed136;
    font-family: 'Montserrat','Helvetica Neue',Helvetica,Arial,sans-serif; }
  #mainNav .navbar-nav .nav-item .nav-link {
    font-size: 90%;
    font-weight: 400;
    padding: .75em 0;
    letter-spacing: 1px;
    color: #fff;
    font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
    text-transform: uppercase; }
    #mainNav .navbar-nav .nav-item .nav-link:hover, #mainNav .navbar-nav .nav-item .nav-link.active {
      color: #fed136; }

@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    transition: padding-top .3s,padding-bottom .3s;
    border: none;
    background-color: transparent; }
    #mainNav .navbar-brand {
      font-size: 1.75em;
      transition: all .3s; }
    #mainNav .navbar-nav .nav-link {
      padding: 1.1em 1em !important; }
    #mainNav.navbar-shrink {
      padding-top: 7px;
      padding-bottom: 7px;
      background-color: #222222; }
      #mainNav.navbar-shrink .navbar-brand {
        font-size: 1.25em;
        padding: 12px 0; } }
.service-heading {
  margin: 15px 0;
  text-transform: none; }

#contact {
  background-color: #222;
  background-image: url(../images/map-image.png);
  background-repeat: no-repeat;
  background-position: center; }
  #contact .section-heading {
    color: #fff; }
  #contact .form-group {
    margin-bottom: 25px; }
    #contact .form-group input {
      padding: 20px; }
    #contact .form-group textarea.form-control {
      height: 236px; }
    #contact .form-group textarea {
      padding: 20px; }
  #contact .form-control:focus {
    border-color: #fed136;
    box-shadow: none; }
  #contact ::-webkit-input-placeholder {
    font-weight: 700;
    color: #eeeeee;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase; }
  #contact :-moz-placeholder {
    font-weight: 700;
    color: #eeeeee;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase; }
  #contact ::-moz-placeholder {
    font-weight: 700;
    color: #eeeeee;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase; }
  #contact :-ms-input-placeholder {
    font-weight: 700;
    color: #eeeeee;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase; }

.btn-xl {
  font-size: 18px;
  font-weight: 700;
  padding: 20px 40px;
  border-radius: 3px;
  color: #fff;
  border-color: #fed136;
  background-color: #fed136;
  font-family: 'Montserrat','Helvetica Neue',Helvetica,Arial,sans-serif;
  text-transform: uppercase; }
  .btn-xl.focus, .btn-xl:focus {
    color: white;
    border-color: #b48b01;
    background-color: #fec503; }
  .btn-xl:hover {
    color: white;
    border-color: #f6bf01;
    background-color: #fec503; }
  .btn-xl.active, .btn-xl:active {
    background-image: none; }

label {
  color: #fed136; }

footer {
  padding: 25px 0;
  text-align: center; }
  footer span.copyright {
    font-size: 90%;
    text-transform: none;
    font-family: 'Montserrat','Helvetica Neue',Helvetica,Arial,sans-serif;
    text-transform: uppercase; }
  footer ul.quicklinks {
    font-size: 90%;
    margin-bottom: 0;
    text-transform: none;
    font-family: 'Montserrat','Helvetica Neue',Helvetica,Arial,sans-serif;
    text-transform: uppercase; }
    footer ul.quicklinks a:hover, footer ul.quicklinks a:active {
      text-decoration: none; }

ul.social-buttons {
  margin-bottom: 0; }
  ul.social-buttons li a {
    font-size: 20px;
    line-height: 40px;
    display: block;
    width: 40px;
    height: 40px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
    color: #fff;
    border-radius: 100%;
    outline: 0;
    background-color: #222; }
    ul.social-buttons li a:hover {
      background-color: #fed136; }

.scrolltop {
  display: none;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  bottom: 5px;
  right: 10px; }
  .scrolltop .scroll {
    position: absolute;
    right: 50px;
    bottom: 20px;
    text-align: center;
    cursor: pointer;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
    .scrolltop .scroll .hidden-link-text {
      display: none; }

.masthead {
  text-align: center;
  color: #fff;
  background-image: url(../images/header-bg.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover; }
  .masthead .header-intro-text {
    padding-top: 150px;
    padding-bottom: 100px; }
    .masthead .header-intro-text .intro-lead-in {
      font-size: 22px;
      font-style: italic;
      line-height: 22px;
      margin-bottom: 25px;
      font-family: 'Droid Serif','Helvetica Neue',Helvetica,Arial,sans-serif; }
    .masthead .header-intro-text .intro-heading {
      font-size: 50px;
      font-weight: 700;
      line-height: 50px;
      margin-bottom: 25px;
      font-family: 'Montserrat','Helvetica Neue',Helvetica,Arial,sans-serif;
      text-transform: uppercase; }

@media (min-width: 768px) {
  .masthead .header-intro-text {
    padding-top: 300px;
    padding-bottom: 216px; }
    .masthead .header-intro-text .intro-lead-in {
      font-size: 40px;
      font-style: italic;
      line-height: 40px;
      margin-bottom: 25px;
      font-family: 'Droid Serif','Helvetica Neue',Helvetica,Arial,sans-serif; }
    .masthead .header-intro-text .intro-heading {
      font-size: 75px;
      font-weight: 700;
      line-height: 75px;
      margin-bottom: 50px;
      font-family: 'Montserrat','Helvetica Neue',Helvetica,Arial,sans-serif;
      text-transform: uppercase; } }
#portfolio .portfolio-item {
  right: 0;
  margin: 0 0 15px; }
  #portfolio .portfolio-item .portfolio-link {
    position: relative;
    display: block;
    max-width: 400px;
    margin: 0 auto;
    cursor: pointer; }
    #portfolio .portfolio-item .portfolio-link .portfolio-hover {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-transition: all ease .5s;
      -moz-transition: all ease .5s;
      transition: all ease .5s;
      opacity: 0;
      background: rgba(254, 209, 54, 0.9); }
      #portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
        opacity: 1; }
      #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
        font-size: 20px;
        position: absolute;
        top: 50%;
        width: 100%;
        height: 20px;
        margin-top: -12px;
        text-align: center;
        color: #fff; }
        #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
          margin-top: -12px; }
  #portfolio .portfolio-item .portfolio-caption {
    max-width: 400px;
    margin: 0 auto;
    padding: 25px;
    text-align: center;
    background-color: #fff; }
    #portfolio .portfolio-item .portfolio-caption h4 {
      margin: 0;
      text-transform: none; }
    #portfolio .portfolio-item .portfolio-caption p {
      font-size: 16px;
      font-style: italic;
      margin: 0;
      font-family: 'Droid Serif','Helvetica Neue',Helvetica,Arial,sans-serif; }
#portfolio * {
  z-index: 2; }

@media (min-width: 768px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px; } }
.portfolio-modal .modal-dialog {
  max-width: none;
  height: 100%;
  margin: 0; }
  .portfolio-modal .modal-dialog .modal-content {
    min-height: 100%;
    padding: 100px 0;
    text-align: center;
    border: none;
    border-radius: 0;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none; }
    .portfolio-modal .modal-dialog .modal-content h2 {
      font-size: 3em;
      margin-bottom: 15px; }
    .portfolio-modal .modal-dialog .modal-content p {
      margin-bottom: 30px; }
      .portfolio-modal .modal-dialog .modal-content p.item-intro {
        font-size: 16px;
        font-style: italic;
        margin: 20px 0 30px;
        font-family: 'Droid Serif','Helvetica Neue',Helvetica,Arial,sans-serif; }
    .portfolio-modal .modal-dialog .modal-content ul.list-inline {
      margin-top: 0;
      margin-bottom: 30px; }
    .portfolio-modal .modal-dialog .modal-content img {
      margin-bottom: 30px; }
    .portfolio-modal .modal-dialog .modal-content button {
      cursor: pointer; }
.portfolio-modal .close-modal {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 75px;
  height: 75px;
  cursor: pointer;
  background-color: transparent; }
  .portfolio-modal .close-modal:hover {
    opacity: .3; }
  .portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 55px;
    margin-left: 35px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #222; }
    .portfolio-modal .close-modal .lr .rl {
      z-index: 1052;
      width: 1px;
      height: 55px;
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
      background-color: #222; }
.portfolio-modal .modal-backdrop {
  display: none;
  opacity: 0; }

.team-member {
  margin-bottom: 50px;
  text-align: center; }
  .team-member img {
    width: 225px;
    height: 225px;
    border: 7px solid #fff; }
  .team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none; }
  .team-member p {
    margin-top: 0; }

.timeline {
  position: relative;
  padding: 0;
  list-style: none; }
  .timeline:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    content: '';
    background-color: #f1f1f1; }
  .timeline .timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left; }
    .timeline .timeline-inverted > .timeline-panel:before {
      right: auto;
      left: -15px;
      border-right-width: 15px;
      border-left-width: 0; }
    .timeline .timeline-inverted > .timeline-panel:after {
      right: auto;
      left: -14px;
      border-right-width: 14px;
      border-left-width: 0; }
  .timeline > li {
    position: relative;
    min-height: 50px;
    margin-bottom: 50px; }
    .timeline > li:after, .timeline > li:before {
      display: table;
      content: ' '; }
    .timeline > li:after {
      clear: both; }
    .timeline > li .timeline-image {
      position: absolute;
      z-index: 100;
      left: 0;
      width: 80px;
      height: 80px;
      margin-left: 0;
      text-align: center;
      color: #fff;
      border: 7px solid #f1f1f1;
      border-radius: 100%;
      background-color: #fed136; }
      .timeline > li .timeline-image h4 {
        font-size: 10px;
        line-height: 14px;
        margin-top: 12px; }
  .timeline .timeline-panel {
    position: relative;
    float: right;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left; }
    .timeline .timeline-panel:before {
      right: auto;
      left: -15px;
      border-right-width: 15px;
      border-left-width: 0; }
    .timeline .timeline-panel:after {
      right: auto;
      left: -14px;
      border-right-width: 14px;
      border-left-width: 0; }
    .timeline .timeline-panel .timeline-heading h4 {
      margin-top: 0;
      color: inherit; }
      .timeline .timeline-panel .timeline-heading h4.subheading {
        text-transform: none; }
    .timeline .timeline-panel .timeline-body > p, .timeline .timeline-panel .timeline-body > u {
      margin-bottom: 0; }

@media (min-width: 768px) {
  .timeline:before {
    left: 50%; }

  .timeline > li {
    min-height: 100px; }
    .timeline > li .timeline-image {
      left: 50%;
      width: 100px;
      height: 100px;
      margin-left: -50px; }
      .timeline > li .timeline-image h4 {
        font-size: 13px;
        line-height: 18px;
        margin-top: 16px; }
    .timeline > li .timeline-panel {
      float: left;
      width: 41%;
      padding: 0 20px 20px 30px;
      text-align: right; }
    .timeline > li.timeline-inverted > .timeline-panel {
      padding: 0 30px 20px 20px; } }
@media (min-width: 992px) {
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px; }
    .timeline > li .timeline-image h4 {
      font-size: 18px;
      line-height: 26px;
      margin-top: 30px; }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px; }
  .timeline > li > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px; } }
@media (min-width: 1200px) {
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px; }
    .timeline > li .timeline-image h4 {
      margin-top: 40px; }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px; }
  .timeline > li > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px; } }

/*# sourceMappingURL=style.css.map */
